body{
    margin:0;
    padding:0;
    overflow:hidden;
}
header {
    display:block;
    height: 30px;
    background-color: #e5e5e5;
}

#container {
    position: absolute;
    width: 100%;
	height: calc(100vh - 30px);
	background: red;
    margin:0;
    padding:0;

    background: #444444;
    /* background: -moz-linear-gradient(top, #606c88 37%, #3f4c6b 100%);
    background: -webkit-linear-gradient(top, #606c88 37%,#3f4c6b 100%);
    background: linear-gradient(to bottom, #606c88 37%,#3f4c6b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); */
}
