body{
    margin:0;
    padding:0;
    overflow:hidden;
}
header {
    display:block;
    height: 30px;
    background-color: #e5e5e5;
}

#container {
    position: absolute;
    width: 100%;
	height: calc(100vh - 30px);
	background: red;
    margin:0;
    padding:0;
}
